<html>
<body>
<div class="container">
<h1> New / Update Member</h1>

<form method="POST">
  {% csrf_token %}
      <label>Snack Name</label> {{ form.snack_name}} </br>
      <label>Snack Brand</label>  {{ form.snack_brand}} </br>
      <label>Snack Producer</label>  {{ form.snack_producer }} </br>
      <label>Snack Price</label>  {{ form.snack_price }} </br>
      <label>Snack Unit</label>  {{ form.snack_stock_unit }} </br>
      <label>Quantity</label>  {{ form.quantity }} </br>
  <button class="btn btn-default" type="submit">Save</button>
  <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
</form>


</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</body>
</html>
